{% extends "rango/base.html" %}

{% load staticfiles %}

{% block title %} About {% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>About</h1>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida, neque ac gravida tincidunt, sapien eros ultricies quam, vitae porttitor ipsum magna at erat. Donec fermentum sodales odio eget tempus. Donec quis euismod erat. Pellentesque tristique eros velit, a euismod quam vehicula eu. Curabitur lorem eros, lobortis eu fringilla a, convallis a augue. Vestibulum luctus, enim vitae malesuada hendrerit, ipsum sem dapibus libero, a lacinia velit nunc sollicitudin diam. Nullam massa tortor, dapibus a condimentum ut, congue sed turpis. Aliquam lacinia enim dolor, et suscipit arcu laoreet sollicitudin.

        </p>
        <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
        <p> visits: {{ visits }}</p>
    </div>

{% endblock %}